*{
	margin: 0;
	padding: 0;
}

body
{
   background: #fff;
}

#top_header{
	display: flex;
	width: 70vw;
	margin: auto;
	border: 1px solid #CCCCCC;
}

#top_header > div:nth-child(1){
	flex: 1;
	border-right: 1px solid #CCCCCC;
}

#top_header > div:nth-child(2){
	flex: 1;
}

#top_header > div:nth-child(1) > div{
	display: flex;
	padding: 1vw;
}

#top_header > div:nth-child(1) > div button{
	cursor: pointer;
	background: #CCCCCC;
	border: none;
	color: #fff;
	margin: 1vw;
	padding: 0.5vw;
}

#top_header > div:nth-child(1) > div button:hover{
	background-color: #CCCCB3;
}

#top_header > div:nth-child(1) > div > span label{
	font-family: arial;
	font-size: 1.1vw;
	color: #545454;
}

#top_header > div:nth-child(1) > div > span input{
	font-family: arial;
	font-size: 1vw;
	padding: 0.3vw;
	color: #545454;
}

#logo{
	text-align: center;
	flex: 1;
}

#logo > img{
	width: 13vw;
    height: 3vw;
    margin-top: 1.3vw;
}

#reg{
	display: flex;
	flex-direction: column;
	width: 40vw;
	margin: auto;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	padding: 2vw;
}

#reg > h3{
	text-align: center;
    margin-bottom: 1vw;
    font-size: 2vw;
}

#reg > span{
	margin-bottom: 1vw;
}

#reg > span label{
	font-family: arial;
	font-size: 1.1vw;
	color: #545454;
}

#reg > span input{
	font-family: arial;
	font-size: 1vw;
	padding: 0.3vw;
	color: #545454;   
	width: 50%;
    float: right;
}

#reg button{
	cursor: pointer;
	background: #CCCCCC;
	border: none;
	color: #fff;
	margin: 1vw;
	padding: 0.5vw;
}

#reg button:hover{
	background-color: #CCCCB3;
}

#output > img
{
	margin-top: 300px;
	width: 400px;
	height: 400px;
}

#capture
{
	position: absolute;
	margin-top: 120px;
}

.face {
	position: relative;
    border: 1px solid white;
    }