#page_add_avatar_modal {
	background-color: #2C2D2E;
	width: 500px; 
	height: 300px;
	border-radius: 5px;
	box-shadow: -1px 1px 3px 3px gray;
	position: fixed;
	top: 45%;
	left: 45%;
	margin-top: -150px;
	margin-left: -150px; 
	display: none;
	opacity: 0;
	z-index: 5;
	padding: 20px 10px;
}

#page_add_avatar_modal_close
{
	color: #fff;
}

#page_add_avatar_modal > div
{
	color: #fff;
}

#page_add_avatar_modal #page_add_avatar_modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#page_add_avatar_modal_overlay {
	z-index:3; 
	position:fixed; 
	background-color:#000;
	opacity:0.8;
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
	width:100%; 
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}

#aded_modal_photo > div{
	margin: 2vw;
	width: 15vw;
    height: 15vw;
    border: 2px solid #ccc;
}

#aded_modal_photo > div > input{
	position: absolute;
	opacity: 0;
    height: 15vw;
    width: 15vw;
}

#aded_modal_photo > div > i{
	position: absolute;
	margin-left: 3vw;
    margin-top: 2vw;
    font-size: 10vw;
    text-align: center;
    color: #ccc;
}

#aded_modal_video,#aded_modal_audio{
	padding: 2vw;
}

#aded_modal_video > p,#aded_modal_audio > p{
	font-size: 1vw;
	font-family: arial;
	color: #545454;
}

#aded_modal_video > label,#aded_modal_audio > label{
	font-size: 1vw;
	font-family: arial;
	color: #545454;
}

#aded_modal_video > input,#aded_modal_audio > input{
	margin-top: 1vw;
	padding: 0.2vw;
	font-size: 1vw;
}

#aded_modal_video > button,#aded_modal_audio > button{
	cursor: pointer;
	margin-top: 1vw;
	border: none;
	background-color: #ccc;
	font-size: 1.2vw;
	font-family: arial;
	padding: 0.4vw;
}