*{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

body
{
   background: #fff;
}

#overlay{
	position: fixed;
	display: none;
	opacity: 0.7;
	z-index: 1;
	background-color: #000;
	height: 100vh;
	width: 100vw;
}

#banned_act{
	text-align: center;
	font-size: 2vw;
	color: #545454;
	font-weight: 600;
	width: 61%;
	margin: auto;
	margin-top: auto;
	margin-top: 5vw;
	letter-spacing: 3px;
}

#banned_act > span{
	color: red;
}

#new_message_modal{
	padding: 1vw;
	background-color: #fff;
    left: 20vw;
    top: 5vw;
    width: 60vw;
    height: 35vw;
    position: absolute;
    z-index: 3;
    display: none;
}

#new_message_modal > img{
	height: 7vw;
    width: 7vw;
    border-radius: 50px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    float: left;
}

#new_message_modal > p{
	font-family: arial;
    font-size: 1.3vw;
    margin-left: 3vw;
    float: left;
    color: #545454;
    font-weight: 600;
    margin-top: 2.5vw;
}

#new_message_modal > button{
	cursor: pointer;
    font-family: arial;
    padding: 1vw;
    float: right;
    font-size: 1vw;
    background: #ccc;
    border: none;
}

#new_message_modal > textarea{
	border: 2px solid #ccc;
    resize: none;
    width: 100%;
    margin-top: 2vw;
}

#header{
	padding: 2vw;
	display: flex;
	flex-direction: row;
}

#header > #avatar{
	flex: 1;
	display: flex;
}

#header > #avatar > img{
	width: 5vw;
	height: 5vw;

	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

#header > #avatar > div > p:nth-child(1){
	font-weight: 600;
	font-family: arial;
	color: #545454;
	font-size: 1.5vw;
	margin-top: 1vw;
	margin-left: 2vw;
}

#header > #avatar > div > p:nth-child(2){
	font-family: arial;
	color: #545454;
	font-size: 1vw;
	margin-top: 0.5vw;
	margin-left: 2vw;
}

#header > #search{
	flex: 1;
}

#header > #search > input{
	margin-top: 1.7vw;
	width: 100%;
    font-size: 1.3vw;
    font-family: arial;
    padding: 0.4vw;

	//border-radius: 20px;
	//-webkit-border-radius: 20px;
	//-moz-border-radius: 20px;
	//-o-border-radius: 20px;
}

#search > div{
	position: absolute;
    width: 33%;
    background: #fff;
    border: 1px solid #ccc;
}

#search > div > ul{
	display: flex;
	flex-direction: column;
}

#search > div > ul > li{
	   display: flex;
    border-bottom: 1px solid #ccc;
    padding: 1vw;
}

#search > div > ul > li > a:nth-child(1){
	cursor: pointer;
	width: 5vw;
	height: 5vw;
}

#search > div > ul > li > a:nth-child(1) > img{
	width: 100%;
	height: 100%;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

#search > div > ul > li > a:nth-child(2){
	text-decoration: none;
	font-size: 1.2vw;
	font-family: arial;
	color: #545454;
	flex: 2;
	margin-top: 2vw;
	margin-left: 2vw;
}

#search > div > ul > li > button{
	cursor: pointer;
	margin-top: 1vw;
	border: none;
    background: #545454;
    color: #fff;
    font-size: 1vw;
    padding: 5px;
    width: 25%;
    height: 0%;
    flex: 1;
}

#header > #logo{
	text-align: right;
	flex: 1;
}

#header > #logo > img{
	width: 13vw;
    height: 3vw;
    margin-top: 1.3vw;
}

#main_menu{
	display: flex;
	background: #f0f1ee;
	margin-bottom: 2vw;
}

#main_menu > #main_manu_links > a{
	font-size: 1.3vw;
	padding: 1vw;
	color: #545454;
	text-decoration: none;
	font-family: 'Shadows Into Light', cursive;
}

#main_menu > #main_manu_links > a > span{
	color: red;
	font-weight: 600;
}

#main_menu > #main_manu_links > a:hover{
	text-decoration: underline;
}

#main_menu > #main_manu_links{
	flex: 4;
    align-items: center;
    display: flex;
}

#main_menu_icons{
	flex: 1;
	display: flex;
	align-items: center;
}

#main_menu_icons > i{
	font-size: 2vw;
	cursor: pointer;
	padding: 1vw;
	color: #545454;
}

#main_menu_icons > p{
	cursor: pointer;
	font-size: 1.3vw;
	padding: 1vw;
	color: #545454;
	text-decoration: none;
	font-family: 'Shadows Into Light', cursive;
}

#main_menu_icons > p:hover{
	text-decoration: underline;
}

#my_page{
	width: 80vw;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.my_page_gallery_list{
	padding-left: 1vw;
	padding-right: 1vw;
	background-color: #c3c3c3;
	width: 20vw;
	margin-left: 3vw;
	margin-bottom: 3vw;
}

.my_page_gallery_list > iframe,.my_page_gallery_list > div > img{
	width: 20vw;
	height: 20vw;
}

#my_page_gallery_list_top{
	text-align: right;
	padding: 0.3vw;
	display: flex;
}

#my_page_gallery_list_top > p{
	font-family: arial;
	font-size: 1vw;
	color: #545454;
}

#my_page_gallery_list_top > p:nth-child(1){
	flex: 2;
	float: left;
}

#my_page_gallery_list_top > p:nth-child(2){
	margin-left: 3vw;
	color: #545454;
	font-weight: 600;
	font-family: arial;
	cursor: pointer;
}

#my_page_gallery_list_bottom{
	font-size: 1.3vw;
	color: #545454;
	display: flex;
	flex-direction: column;
	padding: 0.3vw;
}

#my_page_gallery_list_bottom > div:nth-child(1){
	display: flex;
}

#my_page_gallery_list_bottom > div:nth-child(1) > div{
	margin-right: 2vw;
}

#my_page_gallery_list_bottom span{
	cursor: pointer;
}

#photo_modal{
	display: none;
    position: fixed;
    z-index: 2;
    background-color: #c3c3c3;
    width: 50vw;
    height: 90vh;
    top: 5vh;
    left: 25vw;
}

#photo_modal > div{
	padding: 1vw;
}

#photo_modal > div > div:nth-child(1) > img{
	width: 100%;
    height: 100%;
    max-height: 40vh;
}

#photo_modal > div > div:nth-child(2) > div:nth-child(1){
	font-size: 1.3vw;
	color: #545454;
	display: flex;
	flex-direction: row;
	padding: 0.3vw;
}

#photo_modal > div > div:nth-child(2) > div:nth-child(2){
	display: flex;
}

#photo_modal > div > div:nth-child(2) > div:nth-child(1) > div{
	margin-left: 1vw;
}

#photo_modal > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
	padding: 1vw;
	display: flex;
}

#photo_modal > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div{
	height: 10vw;
	overflow-y: scroll;
}

#photo_modal > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div > div > div{
	display: flex;
	height: 3vw;
}

#photo_modal > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div > div{
	border-bottom: 1px solid #ccc;
	margin-bottom: 1vw; 
}

#photo_modal > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div > div > p{
	font-size: 1vw;
	font-family: arial;
	color: #545454;
}

#photo_modal > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div > div > div > img{
	border-radius: 50px;
    width: 3vw;
}

#photo_modal > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div > div > div > p{
	font-size: 1vw;
	color: #545454;
	font-weight: 600;
}

#photo_modal > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > textarea{
	width: 100%;
	resize: none;
}

#photo_modal > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > button{
	cursor: pointer;
    font-family: arial;
    padding: 0.3vw;
    float: right;
    font-size: 1vw;
    background: #ccc;
    border: none;
}
#photo_modal > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1){
	padding: 1vw;
	flex: 2;
	border-right: 3px solid #545454;
}

#photo_modal > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > img{
	width: 6vw;
	height: 6vw;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

#photo_modal > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > p{
	font-size: 1vw;
	color: #545454;
	font-family: arial;
    margin-top: 3vh;
    margin-left: 1vw;
}

#friends_view > ul{
	width: 50vw;
	margin: auto;
	display: flex;
}

#friends_view > ul > li{
    margin-bottom: 2vw;
	padding-top: 1vw;
	flex: 1;
}

#friends_view > ul > li > img{
	width: 5vw;
	height: 5vw;

	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

#friends_view > ul > li:nth-child(2){
	flex: 2;
	display: flex;
	flex-direction: column;
}

#friends_view > ul > li:nth-child(2) > a:nth-child(1){
	margin-top: 0.3vw;
	font-weight: 600;
	font-family: arial;
	color: #545454;
	font-size: 1vw;
	text-decoration: none;
}

#friends_view > ul > li:nth-child(2) > a:nth-child(1):hover{
	text-decoration: underline;
}

#friends_view > ul > li:nth-child(2) > a:nth-child(2){
	cursor: pointer;
	font-family: arial;
    color: #545454;
    font-size: 1vw;
    text-decoration: none;
    margin-top: 1vw;
}

#friends_view > ul > li:nth-child(3) > i{
	cursor: pointer;
	margin-left: 1vw;
	padding: 1vw;
	cursor: pointer;
	background: #545454;
    color: #fff;
    font-size: 1vw;
    margin-top: 1vw;

    border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

#friends_view > ul > li:nth-child(3) > i:hover{
	background: transparent;
	color: #545454;
}

#friends_view > ul > li:nth-child(4) > span{
	cursor: pointer;
	color: #545454;
    font-size: 1.2vw;
    font-family: arial;
    font-weight: 600;
}

#friends_view > ul > li:nth-child(4) > span:hover{
	font-weight: 0;
}

#dialogs_view > ul{
	width: 50vw;
	margin: auto;
	display: flex;
}

#dialogs_view > ul > li{
    margin-bottom: 2vw;
	padding-top: 1vw;
}

#dialogs_view > ul > li > img{
	width: 5vw;
	height: 5vw;

	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

#dialogs_view > ul > li:nth-child(1){
	flex: 0.6;
}

#dialogs_view > ul > li:nth-child(3){
	flex: 1;
}

#dialogs_view > ul > li:nth-child(2){
	flex: 3;
	display: flex;
	flex-direction: column;
}

#dialogs_view > ul > li:nth-child(2) > a:nth-child(1){
	font-weight: 600;
	font-family: arial;
	color: #545454;
	font-size: 1vw;
	text-decoration: none;
}

#dialogs_view > ul > li:nth-child(2) > a:nth-child(1):hover{
	text-decoration: underline;
}

#dialogs_view > ul > li:nth-child(2) > a:nth-child(2){
	background-color: #f0f1ee;
	padding: 1vw;
	cursor: pointer;
	font-family: arial;
    color: #545454;
    font-size: 1vw;
    text-decoration: none;
    margin-top: 1vw;

    border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

#dialogs_view > ul > li:nth-child(2) > a:nth-child(2) > span{
	color: red;
	font-weight: 600;
}

#dialogs_view > ul > li:nth-child(3) > div:nth-child(1){
	display: flex;
	flex-direction: column;
}

#dialogs_view > ul > li:nth-child(3) > div:nth-child(1){
	text-align: right;
	color: #545454;
	font-size: 1vw;
	font-family: arial;
}

#dialogs_view > ul > li:nth-child(3) > div:nth-child(2) > i{
	cursor: pointer;
	margin-left: 1vw;
	padding: 1vw;
	cursor: pointer;
	background: #545454;
    color: #fff;
    font-size: 1vw;
    margin-top: 1vw;

    border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

#dialogs_view > ul > li:nth-child(3) > div:nth-child(2) > i:hover{
	background: transparent;
	color: #545454;
}

#messages_cont{
	background-color: #c3c3c3;
	padding: 1vw;
	width: 50vw;
	margin: auto;
	margin-top: -2vw;
	height: 33vw;
}

#messages_row{
	height: 25vw;
	overflow-y: scroll;
}

.messages_list{
	background-color: #f0f1ee;
	padding: 1vw;
}

#msg_u{
	text-align: left;
	display: flex;
}

#msg_i{
	text-align: right;
	display: flex;
}

#msg_u > div > a:nth-child(1){
	text-decoration: none;
    color: #545454;
    font-size: 1vw;
    font-family: arial;
    font-weight: 600;
} 
#msg_u > div{
    display: flex;
    flex-direction: column;
}

#msg_u > div:nth-child(2){
	width: 50%;
	margin-left: 1vw;
}

#msg_u > div > a > img{
	width: 4vw;
	height: 4vw;
	border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}

#msg_u > div:nth-child(2) > p{
    font-size: 1vw;
    font-family: arial;
    color: #545454;
    //background-color: #ccc;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
}

#msg_i > div:nth-child(1){
	padding-left: 30%;
    width: 100%;
}

#msg_i > div:nth-child(2){
	width: 20%;
}

#msg_i > div > a:nth-child(1){
	text-decoration: none;
    color: #545454;
    font-size: 1vw;
    font-family: arial;
    font-weight: 600;
} 
#msg_i > div{
    display: flex;
    flex-direction: column;
}

#msg_i > div > a > img{
	width: 4vw;
	height: 4vw;
	border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}

#msg_i > div:nth-child(2) > p{
	text-align: left;
	margin-top: 2vw;
    font-size: 1vw;
    font-family: arial;
    color: #545454;
}

#messages_new_message{
	padding: 1vw;
	display: flex;
}

#messages_new_message > div:nth-child(1){
	width: 5vw;
	height: 5vw;
}

#messages_new_message > div:nth-child(1) > a > img{
	width: 100%;
	height: 100%;

	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
}

#messages_new_message > div:nth-child(2){
    margin-left: 2vw;
    flex: 1;
}

#messages_new_message > div:nth-child(2) > textarea{
	height: 5vw;
	width: 100%;
	resize: none;
}

#messages_new_message > div:nth-child(3){
	margin-left: 2vw;
    margin-top: 0.5vw;
}

#messages_new_message > div:nth-child(3) > button{
	cursor: pointer;
	background: transparent;
    border: none;
}

#messages_new_message > div:nth-child(3) > button > i{
	font-size: 4vw;
    color: #545454;
}




















#aded_modal{
	display: none;
	position: fixed;
	z-index: 2;
	background-color: #fff;
	width: 80vw;
	height: 90vh;
    top: 5vh;
    left: 10vw;
}

#aded_modal_header{
	border-bottom: 3px solid #545454;
	display: flex;
}

#aded_modal_header > div:nth-child(1){
	padding-top: 2vw;
	padding-bottom: 2vw;
	flex: 2;
}

#aded_modal_header > div:nth-child(1) > a{
	cursor: pointer;
	text-decoration: none;
	font-size: 1.5vw;
	padding: 3vw;
	font-family: arial;
	color: #545454;
}

#aded_modal_header > div:nth-child(1) > a:hover{
	text-decoration: underline;
}

#aded_modal_header > div:nth-child(2),#aded_modal_header > div:nth-child(3){
	flex: 1;
	text-align: right;
	padding-top: 2vw;
	padding-bottom: 2vw;
}

#aded_modal_header > div:nth-child(2),#aded_modal_header > div:nth-child(3) > a{
	cursor: pointer;
	text-decoration: none;
	font-size: 1.5vw;
	padding: 3vw;
	font-family: arial;
	color: #545454;
}

#aded_modal_header > div:nth-child(2) > a:hover,#aded_modal_header > div:nth-child(3) > a:hover{
	text-decoration: underline;
}

#aded_modal_video,#aded_modal_audio{
	display: none;
}


#video_call_modal{
	display: none;
	position: fixed;
	z-index: 2;
	background-color: #fff;
	width: 80vw;
	height: 90vh;
    top: 5vh;
    left: 10vw;
}

#video_call_modal video {
  background-color: #ddd;
  width: 49%;
  max-height: 70vh;
}
#video_call_modal .call_button {
	cursor: pointer;
	left: 33vw;
    top: 29vw;
    position: absolute;
    font-size: 2vw;
    background-color: #43A047;
    color: #fff;
    border: none;
    padding: 1.5vw;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    -moz-border-radius: 100px;
}

#video_call_modal .end_call_button{
	cursor: pointer;
	left: 40vw;
    top: 29vw;
    position: absolute;
    font-size: 2vw;
    background-color: #F44336;
    color: #fff;
    border: none;
    padding: 1.5vw;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    -moz-border-radius: 100px;
}


#music_page{

	width: 50vw;
	margin: auto;
}

#music_page > div{
	display: none;
	border-bottom: 2px solid #ccc;
	margin-bottom: 1vw;
	margin-top: 1vw;
}

#music_page > div > input{
	width: 100%;
	color: #545454;
	border: none;
	border-bottom: 1px solid #ccc;
	font-size: 1vw;
	font-family: arial;
	padding: 1vw;
}

#music_page > div > ul > li{
	padding: 1vw;
	border-bottom: 1px solid #545454;
}

#music_page > div > ul > li p {
	font-family: arial;
	font-size: 1vw;
	color: #545454;
}

#music_page > input{
	width: 100%;
	color: #545454;
	border: none;
	border-bottom: 1px solid #ccc;
	font-size: 1vw;
	font-family: arial;
	padding: 1vw;
}

#music_page > ul > li{
	padding: 1vw;
	border-bottom: 1px solid #545454;
}

#music_page > ul > li p {
	font-family: arial;
	font-size: 1vw;
	color: #545454;
}

#settings_cont{
	min-height: 30vw;
	width: 70%;
	margin: auto;
	display: flex;
	padding-bottom: 5vw;
}

#settings_cont > #settings_menu{
	background-color: #f0f1ee;
	display: flex;
	flex-direction: column;
}

#settings_cont > #settings_menu > a{
	cursor: pointer;
	padding: 1vw;
	color: #545454;
    font-size: 1.2vw;
    font-family: arial;
    font-weight: 600;
}

#settings_cont > #settings_menu > a:hover{
	background-color: #ccc;
}

#notice_settings{
	display: none;
}

#develop_settings{
	display: none;
}

#setting_content{
	width: 100%;
	background-color: #ccc;
}

#setting_content > h2{
	padding: 1vw;
}

#main_settings > div{
	margin: 1vw;
	padding: 1vw;
	margin-top: 2vw;
	background-color: #f0f1ee;
}

#main_settings > div > div{
	padding: 1vw;
	width: 100%;
}

#main_settings > div > div > label{
	width: 50%;
}

#develop_settings_auth,#develop_settings_info,#develop_settings_notice,#develop_settings_friends,#develop_settings_music,#develop_settings_gallery{
	display: none;
}

#develop_settings_auth > div,#develop_settings_info > div,#develop_settings_notice > div,#develop_settings_friends > div,#develop_settings_music > div,#develop_settings_gallery > div{
	margin: 1vw;
	background-color: #f0f1ee;
}

#develop_settings > div > div{
	margin: 1vw;
	background-color: #f0f1ee;
	padding: 1vw;
}

#develop_settings_menu{
	cursor: pointer;
	background-color: #f0f1ee;
    margin: 1vw;
    padding: 0.5vw;
}

#develop_settings_menu > a{
	font-family: arial;
	font-size: 1vw;
	color: #545454;
	padding: 1vw;
}

#develop_settings_menu > a:hover{
	text-decoration: underline;
}

#develop_settings > div > div > div > p{
	margin-top: 1vw;
}

#develop_settings > div > div > div > ul > li{
	margin-left: 5vw;
	list-style-type: circle;
}